.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $brand-accent;
}

.logo__black {
  color: #000000;
}

.logo-white {
  color: $primary-white-color;
}
